@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.displayflex {
  display: flex;
}

.justifyItemCenter {
  justify-items: center;
}

.justifyContentCenter {
  justify-content: center;
}

.alignItemCenter {
  align-items: center;
}

.flexDirectionRow {
  flex-direction: row;
}

.flexDirectionColumn {
  flex-direction: column;
}

.marginBottom1 {
  margin-bottom: 1em;
}

.inputField {
  /* border-radius: 4px; */
  margin: 0.6em 0;
  outline: none;
  padding: 0.3em;
  border-bottom-color: #555;
  border-top: none;
  border-right: none;
  border-left: none;
}

.outerMostContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.container {
  position: relative;
  padding: 2em 3em 3em;
  max-width: 13em;
  min-width: 13em;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.errorMsg {
  margin: 1em 0;
  color: red;
}

.modalContainer {
  border: 1px black;
  height: 24em;
  width: 24em;
}

table {
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  min-width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

tr {
  padding: 0 0.2em;
}

table th {
  text-align: left;
  padding: 0.5em 0.9em;
}
table td {
  padding: 0.5em 0.9em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  cursor: pointer;
}
thead tr {
  height: 60px;
  background: #8b7eb5;
}

.tableHeader {
}

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #8b7eb5;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #8b7eb5;
}

.searchTerm:focus {
  color: #8b7eb5;
}

.wrap {
  margin: 1rem;
}

.groupByType {
  width: 50%;
  border: 3px solid #564a7a;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #4f3f84;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupByType:hover {
  cursor: pointer;
}

.pagination {
  margin: 10px;
}

.pageItem {
  padding: 2px;
  margin: 0 8px;
  border-radius: 50%;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #594698;
  size: 1.2rem;
  font-weight: bold;
  border-radius: 10%;
  border: 1px solid #a895e7;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 4px;
  transition: all 0.2s ease-in-out;
}

.pageLink {
  color: hsl(252, 41%, 43%);
  border: none;
  cursor: pointer;
}

.arrow {
  font-weight: bold;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.arrow:hover {
  box-shadow: 0 3px rgba(0, 0, 0, 0.4);
}

.pageItem:hover {
  cursor: pointer;
}
